  h1 {
    text-align: center;
    color: cornflowerblue;
  }
  
  h2{
    color: lightblue;
  }

  nav{
    background-color: cornflowerblue;
    padding: 10px;
  }

  nav ul{
    list-style-type: none;
    margin: 0;
  }

  nav li{
    display: inline;
    margin-right: 25px;
  }

  nav a {
    color: white;
    font-size: 1.5em;
  }

  nav a:hover{
    color: pink;
    text-decoration: none;
  }
  
  body {
    background-color: lightblue;
    text-align: center;
  }
  
  img {
    width: 100%;
  }

  main {
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
  }
  
  /* #comment-section{
    padding: 20px;
  } */